@media (max-width:767px) {

    /* smartphones and tablets -- min = 0 */
    .logo-header {
        width: 100%;
        height: auto;
    }
    .last-col {
        text-align: left;
        direction: ltr;
    }
    .footer img {
        display: none !important;
    }
    .side-col {
        text-align: left;
    }   
}

@media(min-width:768px) and (max-width:991px) {
    /* Small screen - from 768 */

}

@media(min-width:992px) and (max-width:1199px) {
    /* Medium Screen */


}

@media(min-width:1200px) {
    /* large screen - from 1200 to higher */


}